body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align:center;
}

label {
  display: block;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse; /* added for better styling */
}

td {
  padding: 10px;
  border: 1px solid #ddd; /* added border properties */
  transition: background-color 0.3s, text-decoration 0.3s, color 0.3s; /* added transition effect for text-decoration and color */
  text-align: center; /* center the content within the td */
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.completed {
  background-color: #dff0d8; /* background color for completed tasks */
  text-decoration: line-through; /* line-through effect for completed tasks */
  color: red; /* color for completed tasks */
}
